/* Write your custom CSS here */
.bg-light {
    background-color: white;
}

.page-title {
    background-color: whitesmoke;
    border-bottom: 1px solid #e9e9e9;
}

.page-inner {
    background-color: white;
}

.topmenu-outer {
    border-bottom: 1px solid #e9e9e9;
}

.page-footer {
    background-color: whitesmoke;
    border-top: 1px solid #e9e9e9;
}